body{
  margin: 0;
}
main{
  height: 100vh;
}

.toggleSwitch{
  /* Positioning the Toggle Switch */
  position: absolute;
  top: 40px;
  right: 60px;

  /* Basic Styles */
  height: 40px;
  width: 80px;
  border-radius: 30px;
}
.roundToggleButton{
  height:34px;
  width: 34px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 3px;
}

i{
  font-size: 1.1rem;
  color: white;
}
